<% include ../partials/header %>

<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the campgrounds!</h1>
    <p class="lead">View the campgrounds from all over the world!</p>
    <a class="btn btn-success mx-auto" href="/campgrounds/new">Add a new campground</a>      
    <hr class="my-4">
    <div class="card-columns">
      <% campgrounds.forEach(function(campground) { %>
        <div class="card m-2">
          <img class="card-img-top" src=<%= campground.image %> alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title text-center"><%= campground.name %></h4>
            <h5 class="card-subtitle mb-2 text-muted" style="font-size: .7rem"><em>-- Submitted by <%= campground.author.username %></em></h5>
            <div class="row justify-content-center">
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-info">more info</a>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last Updated <%= moment(campground.createdAt).fromNow() %></small>
          </div>
        </div>
      <% }) %>
    </div>  
  </div>
</div>

<% include ../partials/footer %>