<% include ../partials/header %>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the campgrounds!</h1>
    <p class="lead">View the campgrounds from all over the world!</p>
    <a class="btn btn-success mx-auto" href="/campgrounds/new">Add a new campground</a>      
    <hr class="my-4">
    <div class="card-deck">
      <% campgrounds.forEach(function(campground, index) { %>
        <% if(index > 3) { %>
          <div class="w-100"></div>
        <% } %>
          <div class="card border-dark text-center">
            <img class="card-img-top img-fluid" src=<%= campground.image %> alt="Card image cap" width="400">
            <div class="card-body">
              <h4 class="card-title"><%= campground.name %></h4>
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-info">More info</a>
            </div>
            <div class="card-footer">
              <small class="text-muted">submitted <%= moment(campground.createdAt).fromNow() %> by <%= campground.author.username %></small>
            </div>
          </div>
      <% }) %>
    </div>
  </div>
</div>

<% include ../partials/footer %>