<% include ../partials/header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a class="list-group-item active"><i class="fa fa-tree" aria-hidden="true"></i> YelpCamp</a>
                <a class="list-group-item" href="#">Dummy list</a>
                <a class="list-group-item" href="#">Dummy list</a>
                <a class="list-group-item" href="#">Dummy list</a>
            </div>
            <div id="map" class="mt-3"></div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <img class="card-img-top" src=<%= campground.image %> alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
                    <p class="card-text"><%= campground.description %></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <!-- Create a new comment  -->
                    <form action="/campgrounds/<%= campground._id %>/comments" method="post">
                        <div class="form-group">
                            <label for="comment">COMMENTS:</label>
                            <textarea class="form-control" rows="3" id="comment" name="comment[text]" placeholder="Tell us what you're thinking!" required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="reset" class="btn btn-sm btn-dark float-right ml-3">Cancel</button>
                            <button type="submit" class="btn btn-sm btn-dark float-right">Comment</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="card mb-3">
                <ul class="list-group list-group-flush">
                    <% campground.comments.forEach(function(comment) { %>
                        <li class="list-group-item">
                            <span><i class="fa fa-user" aria-hidden="true"></i> <%= comment.author.username %></span>
                            <span style="font-size:0.7rem;"><%= moment(comment.createdAt).fromNow() %></span>
                            <div class="row">
                                <div class="col-9">
                                    <p><%= comment.text %></p>
                                </div>
                                <!-- mark: give authentication to editing and deleting comments -->
                                <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <div class="col-3">
                                    <div class="btn-group float-right">
                                        <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle</span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                                            <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=delete" method="post">
                                                <input type="submit" class="dropdown-item" value="&#xf1f8; Delete">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDarPMuMohrt3cB0l6vpQiJNs6HMvqq6FQ&callback=initMap"></script>

<% include ../partials/footer %>